.flg {
  width: 100%;
}
.flg-container {
  background-color: #1f1f2f;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
}
.country-remove-btn-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  background-color: transparent;
  color: #ffffff;
  outline: none;
  height: 25px;
  width: 60px;
  font-size: 10px;
  border-radius: 3px;
  border: 1px solid #f8fafc;
}
